@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');

:root {
  --main-bg-color: #28282D;
  --text-primary-color: #EDF1FF;
  --text-secondary-color: #6667AB;
  --button-cta-color: #62617E;
  --button-secondary-color: #BABEBF;
  --text-title: 'DM Serif Display', sans-serif;
  --text-paragraph: 'EB Garamond', sans-serif;
  --text-size-xl: 128px;
  --text-size-l: 64px;
  --text-size-m: 36px;
  --text-size-s: 24px;
  --text-size-xs: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: var(--text-paragraph);
  background-color: var(--main-bg-color);
  color: var(--text-primary-color);
  font-size: var(--text-size-xs);
  width: 100vw;
  overflow-x: hidden;
}

.container {
  width: 100%;
  height: 100%;
  position: relative;
  margin: 5% 10%;
}

.aboutus_main {
  width: 100%;
  height: 100%;
}

.container__aboutus_main {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 90vh;
  width: 100%;
  margin: 0;
  justify-content: center;
}

.au_main_text {
  width: 50%;
  height: 100%;
}

.aboutus_main_text {
  background-color: #333;
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.aboutus_main_content {
  background-color: #333;
  padding: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* FAIL image position on the right */
aboutus_main_image {
  position: relative;
  top: 10%;
  bottom: 10%;
  right: 0;
  z-index: 1;
}

/* FAIL insert fluid type effect */
.typingEffect {
  color: #fff;
  font-family: "Electrolize";
  font-size: 25px;
  overflow: hidden; 
  white-space: nowrap;
  letter-spacing: .15em;
  animation-delay: 1s;
  animation-duration: 6s;
  animation-fill-mode: both;
  animation-name: spin1;
}

@keyframes spin1 {
  0%  {max-width: 0px; border-right: 0px;}
  1%  {max-width: 0px; border-right: 4px solid #7CDD26;}
  99% {max-width: 100%; border-right: 4px solid #7CDD26;}
  100% {max-width: 100%; border-right: none}
}