@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');

/* Variables */
:root {
    --main-bg-color: #28282D;
    --text-primary-color: #EDF1FF;
    --text-secondary-color: #6667AB;
    --button-cta-color: #62617E;
    --button-secondary-color: #BABEBF;
    --text-title: 'DM Serif Display', sans-serif;
    --text-paragraph: 'EB Garamond', sans-serif;
    --text-size-xl: 128px;
    --text-size-l: 64px;
    --text-size-m: 36px;
    --text-size-s: 24px;
    --text-size-xs: 16px;
}

/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: var(--text-paragraph);
    background-color: var(--main-bg-color);
    color: var(--text-primary-color);
    font-size: var(--text-size-xs);
    width: 100vw;
    overflow-x: hidden;
}

/* Header // NavBar */
header {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
}

nav {
    width: 100%;
}

.logo {
    width: 100px;
}

.menu {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    font-size: var(--text-size-s);
}

.menu li {
    list-style: none;
}

.menu li a {
    text-decoration: none;
    color: var(--text-primary-color);
}

/* Container general*/
.container {
    width: 100%;
    height: 100%;
    position: relative;
    margin: 5% 10%;
}

/* Hero // Banner */
.hero {
    width: 100%;
    height: 100%;
}

.container__hero {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 90vh;
    width: 100%;
    margin: 0;
    justify-content: center;
}

.container__hero img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
}

h1 {
    font-family: var(--text-title);
    color: var(--text-secondary-color);
    font-size: var(--text-size-xl);
}

.heroText {
    margin: 0 10%;
}

.heroText p {
    font-family: var(--text-title);
    font-size: var(--text-size-m);
    color: var(--text-primary-color);
}

.luminousEffect {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

/* about (intro) */
.scrollingContainer {
    height: 8rem;
    position: relative;
    margin: 30px;
    white-space: nowrap;
}

.scrollingText {
    font-family: var(--text-title);
    font-size: var(--text-size-xl);
    /* letter-spacing: 1.1rem; */
    /* word-spacing: 2rem; */
    left: 0;
    white-space: nowrap;
    position: absolute;
    /* transition: transform 1s linear; */
}

.scrollingText span {
    color: var(--text-secondary-color);
}

/* Footer */
footer {
    width: 100%;
}

.container__footer {
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}


/* ..........FEATURE-CONTACT PAGE.......... */
.container-contact{
    max-width: 350px;
	/* height: 630px; */
	background-color: #fff;
	border-radius: 16px;
    display: flex;
    grid-template-columns: 1;
    margin-top: 1px;
    margin-left: 16px;
    margin-right: 16px;
    padding: 32px;
}
.container-contact h3{
    margin: .4rem;
    color: var(--text-secondary-color);
}

.fieldset-container {
    display: flex;
    border: none;
    margin-bottom: 20px;
}

legend {
	position: relative;
	bottom: 3px;
	font-size: 0.9em;
	color: #8b8a8a;
	font-weight: 500;
}


/*  form */

form {
	width: 100%;
}
.form-group {
	max-height: 65px;
	margin: 10px 0;
    padding: 2%;
}
label {
	position: relative;
	bottom: 3px;
	font-size: 0.9em;
	color: #8b8a8a;
	font-weight: 500;
}

input {
    display: flex;
    width: 100%;
	border: 1px solid #f3f3f3;
	padding: 10px 5px;
	height: 34px;
	outline: none;
	border-radius: 6px;
	box-sizing: border-box;
	font-family: inherit;
	transition: all 0.3s;
}


button {
	border: none;
	cursor: pointer;
	width: 100%;
	padding: 15px 0;
	border-radius: 6px;
	font-family: inherit;
	background-color: #000;
	color: var(--text-secondary-color);
	transition: all 0.3s ease;
}

button:hover {
	background-color: var(--button-secondary-color);
}
button:focus {
	outline: none;
}

.error-message {
    color: red;
    font-weight: bold;
    margin-top: 10px;
}

h1 {
	font-size: 1.6em;
}
