@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');

/* Variables */
:root {
    --main-bg-color: #28282D;
    --text-primary-color: #EDF1FF;
    --text-secondary-color: #9FA0FF;
    --button-cta-color: #6667AB;
    --button-secondary-color: #BABEBF;
    --pentagram-color: #babebf66;
    --text-title: 'DM Serif Display', sans-serif;
    --text-paragraph: 'EB Garamond', sans-serif;
    --text-size-xxl: 160px;
    --text-size-xl: 128px;
    --text-size-l: 64px;
    --text-size-m: 36px;
    --text-size-s: 24px;
    --text-size-xs: 20px;
    --height-header: 100px;
    --height-pentagram: 60px;
}

/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: var(--text-paragraph);
    background-color: var(--main-bg-color);
    color: var(--text-primary-color);
    font-size: var(--text-size-xs);
    /* max-width: 100vw; */
    /* overflow-x: hidden; */
}

/* Header // NavBar */
header {
    max-width: 100%;
    height: var(--height-header);
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    margin-left: 20px;
    z-index: 999;
}

nav {
    width: 100%;
    position: relative;
}

.logo img {
    height: var(--height-pentagram);
}

.pentagram {
    position: relative;
    height: var(--height-pentagram);
    border-bottom: 1px solid var(--pentagram-color);
}

.pentagram div {
    height: calc(var(--height-pentagram)/4);
    border-top: 1px solid var(--pentagram-color);
}

.menu {
    position: absolute;
    top: 0;
    width: 100%;
    font-size: var(--text-size-s);
    font-family: var(--text-title);
}

.menu li {
    display: flex;
    position: absolute;
    list-style: none;
    text-align: center;
    transform: translate(0, 0);
    transition: transform 0.5s;
}

.menu li a {
    text-decoration: none;
    color: var(--text-secondary-color);
    transition: color 0.5s;
}

.menu li:hover {
    transform: translate(0, -5px);
    transition: transform 0.5s;
}

.menu li a:hover {
    color: var(--text-primary-color);
    transition: color 0.5s;
}

.imgNote {
    height: calc(var(--height-pentagram)/2);
}

#noteAbout {
    top: -10px; /* Ajustar la posición vertical en el navbar */
    left: 10%; /* Ajustar la posición horizontal en el navbar */
}

#noteInstruments {
    top: 30px; /* Ajustar la posición vertical en el navbar */
    left: 35%;
}

#noteScores {
    top: 0px; /* Ajustar la posición vertical en el navbar */
    left: 60%;
}

#noteContact {
    top: 40px; /* Ajustar la posición vertical en el navbar */
    left: 80%;
}

/* Container general*/
.container {
    max-width: 100%;
    height: 100%;
    position: relative;
    margin: 0 10%;
}

section {
    padding-top: var(--height-header);
    max-width: 100%;
}

/* Hero // Banner */
.hero {
    max-width: 100%;
    height: 100%;
    padding: 0;
}

.container__hero {
    display: flex;
    flex-direction: column;
    position: relative;
    height: calc(100vh - var(--height-header)); /* altura de la pantalla menos lo que ocupa el navbar */
    max-width: 100%;
    margin: 0;
    justify-content: center;
    overflow: hidden;
}

.container__hero img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    opacity: 0.2;
}

.luminousEffect {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

/* .ripple {
    position: absolute;
    border-radius: 50%;
    background: linear-gradient(90deg, rgba(40,40,45,0.2) 0%, rgba(102,103,171,0.2) 25%, rgba(98,97,126,0.2) 50%, rgba(186,190,191,0.2) 75%, rgba(237,241,255,0.2) 100%);
    transform: scale(0);
    animation: ripple-animation 1s linear;
    transition: background 0.8s;
}

@keyframes ripple-animation {
    to {
        transform: scale(3);
        opacity: 0;
    }
} */

.heroTexts {
    margin: 0 10%;
}

.heroText {
    font-family: var(--text-title);
    font-size: var(--text-size-m);
    color: var(--text-primary-color);
    visibility: hidden;
    border-right: 3px solid transparent;
    overflow: hidden;
    white-space: nowrap;
    text-shadow: 2px 2px black;
}

.heroText__bigText {
    color: var(--text-secondary-color);
    font-size: var(--text-size-xxl);
    font-weight: bold;
}

.heroText__text1 {
    width: 13.5ch;
}

.heroText__text2 {
    width: 8.2ch;
}

.heroText__text3 {
    width: 9.8ch;
}

.heroText__text4 {
    width: 17.4ch;
}

.typingText {
    visibility: hidden;
    border-right: 3px solid transparent;
    overflow: hidden;
    white-space: nowrap;
}

@keyframes typing {
    from {
        width: 0;
    }
    /* to {
        width: 100%;
    } */
}

@keyframes blink {
  50% {
    border-color: var(--text-primary-color);
  }
}


/* about (intro) */
.scrollingContainer {
    height: 11rem;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    max-width: 100%;
}

.scrollingText {
    font-family: var(--text-title);
    font-size: var(--text-size-xl);
    font-weight: 100;
    left: 0;
    white-space: nowrap;
    position: absolute;
    display: inline-block;
}

span {
    color: var(--text-secondary-color);
}

.container__intro {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Ajusta el ancho mínimo y máximo */
    column-gap: 40px;
    justify-items: center;
    align-items: center;
    margin: 5% 10% 0 10%;
}

.title {
    font-family: var(--text-title);
    margin-bottom: 30px;
}

.titleIntro {
    font-size: var(--text-size-m);
}

.titleIntro__text1 {
    width: 19ch;
}

.titleIntro__text2 {
    width: 12ch;
}

.textIntro {
    margin: 20px 0;
}

q {
    font-style: italic;
}

.quoteRS {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.citeRS {
    display: flex;
    flex-direction: column;
}

.citeRS p {
    text-align: right;
    font-style: italic;
}

.citeRS > img {
    width: 200px;
}

.cards {
    height: 350px;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardIntro {
    height: 300px;
}

.cardIntro__cardLeft {
    transform: rotate(-15deg);
    translate: 140px 10px;
    z-index: 0;
}

.cardIntro__cardMid {
    z-index: 1;
}

.cardIntro__cardRight {
    transform: rotate(15deg);
    translate: -140px 10px;
    z-index: 0;
}

@keyframes cardSpreadLeft {
    to {
        transform: rotate(-30deg);
        translate: 40px 40px;
    }
}

@keyframes cardSpreadRight {
    to {
        transform: rotate(30deg);
        translate: -40px 40px;
    }
}

@keyframes cardResetLeft {
    from {
        transform: rotate(-30deg);
        translate: 40px 40px;
    }
    to {
        transform: rotate(-15deg);
        translate: 140px 10px;
    }
}

@keyframes cardResetRight {
    from {
        transform: rotate(30deg);
        translate: -40px 40px;
    }
    to {
        transform: rotate(15deg);
        translate: -140px 10px;
    }
}

/* Instruments (home) */
.titleInstruments {
    font-size: var(--text-size-l);
}
.titleInstruments__text1 {
    width: 11ch;
}

.titleInstruments__text2 {
    width: 12.2ch;
}

.cardsInstrumentsContainer {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 60px 0 120px 0;
}

.cardInstruments {
    height: 200px;
    width: 200px;
    background-color: var(--text-primary-color);
    border-radius: 40px;
    margin-bottom: 40px;
    transition: transform 0.3s ease-in-out;
}

.cardInstruments a {
    text-decoration: none;
}

.instrument {
    height: 70%;
    background-repeat: no-repeat;
    background-position: center;
}

.instrument__piano {
    background-image: url('../../public/assets/images/piano.svg');
}

.instrument__guitar {
    background-image: url('../../public/assets/images/guitarra-clasica.svg'); 
}

.instrument__drums {
    background-image: url('../../public/assets/images/bateria.svg');
}

.instrument__tuba {
    background-image: url('../../public/assets/images/tuba.svg');
}

.instrumentName {
    font-family: var(--text-title);
    font-size: var(--text-size-m);
    color: var(--text-secondary-color);
    text-align: center;
    transition: color 0.3s ease-in-out;
}

/* Efecto hover sobre las tarjetas */
.cardInstruments:hover {
    transform: scale(1.1);
}

.cardInstruments:hover .instrument__piano {
    background-image: url('../../public/assets/images/piano_color.svg');  
}

.cardInstruments:hover .instrument__guitar {
    background-image: url('../../public/assets/images/guitarra-clasica_color.svg');
}

.cardInstruments:hover .instrument__drums {
    background-image: url('../../public/assets/images/bateria_color.svg');  
}

.cardInstruments:hover .instrument__tuba {
    background-image: url('../../public/assets/images/tuba_color.svg');
}

.cardInstruments:hover .instrumentName {
    color: var(--main-bg-color)
  }

/* Footer */
footer {
    max-width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--text-primary-color);
    height: 300px;
    padding: 20px;
    font-size: var(--text-size-s);
    color: var(--main-bg-color);
}

footer div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 90%;
    max-width: 100%;
}

.footerLogo img {
    height: 100%;
}

footer ul p {
    font-weight: bold;
}

footer li {
    list-style: none;
    font-size: var(--text-size-xs);
}

footer a {
    text-decoration-line: none;
    color: var(--main-bg-color);
}

footer li:hover {
    text-decoration-line: underline;
}