@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');

/* Variables */
:root {
    --main-bg-color: #28282D;
    --text-primary-color: #EDF1FF;
    --text-secondary-color: #9FA0FF;
    --button-cta-color: #6667AB;
    --button-secondary-color: #BABEBF;
    --pentagram-color: #babebf66;
    --text-title: 'DM Serif Display', sans-serif;
    --text-paragraph: 'EB Garamond', sans-serif;
    --text-size-xxl: 160px;
    --text-size-xl: 128px;
    --text-size-l: 64px;
    --text-size-m: 36px;
    --text-size-s: 24px;
    --text-size-xs: 20px;
    --height-header: 100px;
    --height-pentagram: 80px;
}

/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: var(--text-paragraph);
    background-color: var(--main-bg-color);
    color: var(--text-primary-color);
    font-size: var(--text-size-xs);
    /* max-width: 100vw; */
    /* overflow-x: hidden; */
}

/* Header // NavBar */
header {
    max-width: 100%;
    height: var(--height-header);
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    margin-left: 20px;
    z-index: 999;
}

nav {
    width: 100%;
    position: relative;
}

.logo {
    max-width: 100%;
    height: 100px;
    display: flex;
    margin-top: 8px;
}

.open-menu,
.close-menu{
    display: none;
}

.pentagram {
    position: relative;
    height: var(--height-pentagram);
    border-bottom: 1px solid var(--pentagram-color);
}

.pentagram div {
    height: calc(var(--height-pentagram)/4);
    border-top: 1px solid var(--pentagram-color);
}

.menu {
    position: absolute;
    top: 24px;
    width: 100%;
    /* display: flex;
    justify-content: space-evenly; */
    font-size: var(--text-size-s);
    font-family: var(--text-title);
}

.menu li {
    display: flex;
    position: absolute;
    list-style: none;
    text-align: center;
    transform: translate(0, 0);
    transition: transform 0.5s;
}

.menu li a {
    text-decoration: none;
    color: var(--text-secondary-color);
    transition: color 0.5s;
}

.menu li:hover {
    transform: translate(0, -5px);
    transition: transform 0.5s;
}

.menu li a:hover {
    color: var(--text-primary-color);
    transition: color 0.5s;
}

.imgNote {
    height: calc(var(--height-pentagram)/2);
}

#noteAbout {
    top: -10px; /* Ajustar la posición vertical en el navbar */
    left: 10%; /* Ajustar la posición horizontal en el navbar */
}

#noteInstruments {
    top: 30px; /* Ajustar la posición vertical en el navbar */
    left: 35%;
}

#noteScores {
    top: 0px; /* Ajustar la posición vertical en el navbar */
    left: 60%;
}

#noteContact {
    top: 40px; /* Ajustar la posición vertical en el navbar */
    left: 80%;
}


/* Container general*/
.container {
    max-width: 100%;
    height: 100%;
    position: relative;
    margin: 0 10%;
}

section {
    padding-top: var(--height-header);
    max-width: 100%;
}

/* ..........FEATURE-HOME PAGE.......... */
/* Hero // Banner */
.hero {
    max-width: 100%;
    height: 100%;
    padding: 0;
}

.container__hero {
    display: flex;
    flex-direction: column;
    height: calc(100vh - var(--height-header)); /* altura de la pantalla menos lo que ocupa el navbar */
    margin: 0;
    justify-content: center;
    overflow: hidden;
}

.container__hero img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    opacity: 0.2;
}

.luminousEffect {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

/* .ripple {
    position: absolute;
    border-radius: 50%;
    background: linear-gradient(90deg, rgba(40,40,45,0.2) 0%, rgba(102,103,171,0.2) 25%, rgba(98,97,126,0.2) 50%, rgba(186,190,191,0.2) 75%, rgba(237,241,255,0.2) 100%);
    transform: scale(0);
    animation: ripple-animation 1s linear;
    transition: background 0.8s;
}

@keyframes ripple-animation {
    to {
        transform: scale(3);
        opacity: 0;
    }
} */

.heroTexts {
    margin: 0 10%;
}

.heroText {
    font-family: var(--text-title);
    font-size: var(--text-size-m);
    color: var(--text-primary-color);
    visibility: hidden;
    border-right: 3px solid transparent;
    overflow: hidden;
    white-space: nowrap;
    text-shadow: 2px 2px black;
}

.heroText__bigText {
    color: var(--text-secondary-color);
    font-size: var(--text-size-xl);
    font-weight: bold;
}

.heroText__text1 {
    width: 13.5ch;
}

.heroText__text2 {
    width: 8.2ch;
}

.heroText__text3 {
    width: 9.8ch;
}

.heroText__text4 {
    width: 17.4ch;
}

.typingText {
    visibility: hidden;
    border-right: 3px solid transparent;
    overflow: hidden;
    white-space: nowrap;
}

@keyframes typing {
    from {
        width: 0;
    }
    /* to {
        width: 100%;
    } */
}

@keyframes blink {
    50% {
    border-color: var(--text-primary-color);
    }
}


/* about (intro) */
.scrollingContainer {
    height: 11rem;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    max-width: 100%;
}

.scrollingText {
    font-family: var(--text-title);
    font-size: var(--text-size-xl);
    font-weight: 100;
    left: 0;
    white-space: nowrap;
    position: absolute;
    display: inline-block;
}

span {
    color: var(--text-secondary-color);
}

.container__intro {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Ajusta el ancho mínimo y máximo */
    column-gap: 40px;
    justify-items: center;
    align-items: center;
    margin: 5% 10% 0 10%;
}

.title {
    font-family: var(--text-title);
    margin-bottom: 30px;
}

.titleIntro {
    font-size: var(--text-size-m);
}

.titleIntro__text1 {
    width: 19ch;
}

.titleIntro__text2 {
    width: 12ch;
}

.textIntro {
    margin: 20px 0;
}

q {
    font-style: italic;
}

.quoteRS {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.citeRS {
    display: flex;
    flex-direction: column;
}

.citeRS p {
    text-align: right;
    font-style: italic;
}

.citeRS > img {
    width: 200px;
}

.cards {
    height: 350px;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardIntro {
    height: 300px;
}

.cardIntro__cardLeft {
    transform: rotate(-15deg);
    translate: 140px 10px;
    z-index: 0;
}

.cardIntro__cardMid {
    z-index: 1;
}

.cardIntro__cardRight {
    transform: rotate(15deg);
    translate: -140px 10px;
    z-index: 0;
}

@keyframes cardSpreadLeft {
    to {
        transform: rotate(-30deg);
        translate: 40px 40px;
    }
}

@keyframes cardSpreadRight {
    to {
        transform: rotate(30deg);
        translate: -40px 40px;
    }
}

@keyframes cardResetLeft {
    from {
        transform: rotate(-30deg);
        translate: 40px 40px;
    }
    to {
        transform: rotate(-15deg);
        translate: 140px 10px;
    }
}

@keyframes cardResetRight {
    from {
        transform: rotate(30deg);
        translate: -40px 40px;
    }
    to {
        transform: rotate(15deg);
        translate: -140px 10px;
    }
}

/* Instruments (home) */
.titleInstruments {
    font-size: var(--text-size-l);
}
.titleInstruments__text1 {
    width: 11ch;
}

.titleInstruments__text2 {
    width: 12.2ch;
}

.cardsInstrumentsContainer {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    flex-wrap: wrap;
    margin: 60px 0 120px 0;
}

.cardInstruments {
    height: 200px;
    width: 200px;
    background-color: var(--text-primary-color);
    border-radius: 40px;
    margin-bottom: 40px;
    transition: transform 0.3s ease-in-out;
}

.cardInstruments a {
    text-decoration: none;
}

.instrument {
    height: 70%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.instrument__piano {
    background-image: url('../../public/assets/images/piano.svg');
}

.instrument__guitar {
    background-image: url('../../public/assets/images/guitarra-clasica.svg'); 
}

.instrument__drums {
    background-image: url('../../public/assets/images/bateria.svg');
}

.instrument__tuba {
    background-image: url('../../public/assets/images/tuba.svg');
}

.instrumentName {
    font-family: var(--text-title);
    font-size: var(--text-size-m);
    color: var(--text-secondary-color);
    text-align: center;
    transition: color 0.3s ease-in-out;
}

/* Efecto hover sobre las tarjetas */
.cardInstruments:hover {
    transform: scale(1.1);
}

.cardInstruments:hover .instrument__piano {
    background-image: url('../../public/assets/images/piano_color.svg');  
}

.cardInstruments:hover .instrument__guitar {
    background-image: url('../../public/assets/images/guitarra-clasica_color.svg');
}

.cardInstruments:hover .instrument__drums {
    background-image: url('../../public/assets/images/bateria_color.svg');  
}

.cardInstruments:hover .instrument__tuba {
    background-image: url('../../public/assets/images/tuba_color.svg');
}

.cardInstruments:hover .instrumentName {
    color: var(--main-bg-color)
}


/* Footer */
footer {
    max-width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--text-primary-color);
    height: 300px;
    padding: 20px;
    font-size: var(--text-size-s);
    color: var(--main-bg-color);
}

footer div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 90%;
    max-width: 100%;
}

.footerLogo img {
    height: 100%;
}

footer ul p {
    font-weight: bold;
}

footer li {
    list-style: none;
    font-size: var(--text-size-xs);
}

footer a {
    text-decoration-line: none;
    color: var(--main-bg-color);
}

footer li:hover {
    text-decoration-line: underline;
}

@media (768px <= width < 950px) {
    .heroText__bigText {
        font-size: var(--text-size-xl);
    }
}

@media (width < 768px) {
    .scrollingContainer {
        height: 100px;
    }

    .scrollingText {
        font-size: var(--text-size-l);
    }

    .heroText {
        font-size: var(--text-size-s);
    }

    .heroText__bigText {
        font-size: var(--text-size-l);
    }

    .cards {
        height: 350px;
        width: auto;
    }

    .cardIntro {
    height: 250px;
    }

    .titleInstruments {
        font-size: var(--text-size-m);
    }

    .cardInstruments {
        height: 150px;
        width: 150px;
        margin-bottom: 10px;
    }

    .instrumentName {
        font-size: var(--text-size-s);
    }
}
















































/* ESTILOS FEATURE-PIANO PAGE */

.pianoBody {
    display: flex;
    flex-direction: column;
    background-color: #28282D;
}


#tipBach {
    width: 350px;
    height: 400px;
    border-radius: 2%;
    margin-top: 10px;
}

/* SELECTOR DE SONIDOS */
.soundSelector {
    display: flex;
    justify-content: center;
    margin-top: 3px;
}

.soundSelector__label {
    color: white;
    font-family: 'DM Serif Display', sans-serif;
}

/* PIANO */
#framePiano{
    padding-top: 0;
    margin-bottom: 30px;
}

#piano {
    background-image: url(../../public/assets/images/piano-images/pianomarco.png);
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px;
    background-size: 980px;
    background-repeat: no-repeat;
    padding: 70px 0;
    background-position: calc(50% - 53px);
}

.piano__key--do,
.piano__key--re,
.piano__key--mi,
.piano__key--fa,
.piano__key--sol,
.piano__key--la,
.piano__key--si {
    width: 50px;
    height: 170px;
    background-color: white;
    border: 1px solid gray;
    display: flex;
    flex-direction: column-reverse;
    transition: background-color 0.3s;
}

.piano__key--do:hover,
.piano__key--re:hover,
.piano__key--mi:hover,
.piano__key--fa:hover,
.piano__key--sol:hover,
.piano__key--la:hover,
.piano__key--si:hover {
    background-color: rgb(203, 203, 203);
}

.key-gray {
    background-color: rgb(188, 188, 186);
    -webkit-box-shadow: inset 10px 9px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: inset 10px 9px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: inset 10px 9px 5px 0px rgba(0, 0, 0, 0.75);
}

.piano__black {
    width: 30px;
    height: 100px;
    background-color: black;
    margin-bottom: 40px;
    margin-left: 35px;
    position: relative;
    background-image: url('../../public/assets/images/piano-images/Sostenidas/Sostenida-Suelta.png');
}

.piano__black__transparent {
    width: 30px;
    height: 100px;
    background-color: transparent;
    margin-bottom: 40px;
    margin-left: 30px;
    position: relative;

}

.piano__letter {
    text-align: center;
    margin: 0;
    position: relative;
    top: 90px;
    color: white;
    font-size: 14px;
    font-family: 'EB Garamond', sans-serif;
}

.color-gold {
    background-color: gold;
}




/*ESTILOS MODAL INICIAL Y POR SI ACASO MODAL PARA OFRECER PLANES*/

.modal {
    display: none;
    /* Oculto por defecto */
    position: fixed;
    /* Mantenerlo en la misma posición */
    z-index: 1000;
    /* Encima de otros elementos */
    left: 0;
    top: 0;
    width: 100%;
    /* Ancho completo */
    height: 100%;
    /* Alto completo */
    overflow: auto;
    /* Habilitar scroll si es necesario */
    background-color: rgb(0, 0, 0);
    /* Color de fondo */
    background-color: rgba(0, 0, 0, 0.4);
    /* Color de fondo con transparencia */
    justify-content: center;
    /* Centrar horizontalmente */
    align-items: center;
    /* Centrar verticalmente */
}


.modal__content {
    background-color: #9FA0FF;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 2%;
    width: 80%;
    max-width: 400px;
    height: 500px;
    text-align: center;
}
/* MODAL PARA MÁXIMO DE TECLAS POR SI ACASO*/
/* .modal__content2 {
    background-color: #6afc80;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 2%;
    width: 80%;
    max-width: 400px;
    height: 500px;
    text-align: center;
} */

.modal__text {
    font-size: 26px;
    font-weight: bold;
    color: black;
    font-family: 'DM Serif Display', sans-serif;
}

.modal__close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.modal__close:hover,
.modal__close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.keypressModal__message {
    font-size: 26px;
    font-weight: bold;
    color: black;
    font-family: 'DM Serif Display', sans-serif;
}

.keypressModal__link {
    font-size: 30px;
    font-weight: bold;
    color: gray;
    text-decoration: none;
    font-family: 'DM Serif Display', sans-serif;
}

.keypressModal__linkSpace {
    background-color: white;
    border: 2px solid white;
    border-radius: 5px;
    padding: 8px;
}

.brandPiano{
    display: none;
    
}


/*ESTO ES UNA CLASE PARA ESCONDER EN ESTE CASO IDS */
.hide {
    display: none;
}

.probando {
    width: 100%;
}

/* CAMBIOS PARA QUE SEA RESPONSIVE*/

/* AQUÍ APLICAMOS LA CLASE .HIDE A LOS IDS D ELAS 7 TECLAS QUE QUEREMOS ECSONDER CUANDO SE REDUCE EL TAMAÑO DE LA PANTALLA*/
@media (max-width:1100px) {
    /* Estilos para el modal */
    .modal__content{
        height: 400px;
    }
    #tipBach {
        width: 320px;
        height: 320px;
    }
    .soundSelector{
        margin-top: 6%;
    }
    

    /* Esto hace que se oculten las 7 últimas teclas */
    #key-z,
    #key-x,
    #key-c,
    #key-v,
    #key-b,
    #key-n,
    #key-m {
        display: none;
    }

    body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }



    /* ESTILOS PIANO RESPONSIVE */
    #piano {
        background-image: none;
        padding-top: 5px;
        padding-bottom: 5px;
        margin: 0;
    }

    #framePiano {
        background-color: black;
        width: 380px;
        margin-top: 10px;
        border: 1px solid gray;
        border-radius: 6px 6px 0px 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .brandPiano{
        display: flex;
        justify-content: center;
        
    }
    #brandPiano{
        display: flex;
        justify-content: center;
        padding: 0;
    }

    .piano__key--do{
        border-radius: 6px 0px 0px 6px;
    }
    .piano__key--si{
        border-radius: 0px 6px 6px 0px;
    }
    #sheetMusic{
        width: 290px;
        height: 150px;
    }
}

/* ESTILOS PARA ADAPATAR EL MODAL A POCOS PIXELES */
@media (max-width:455px) {
    #tipBach {
        width: 300px;
        height: 290px;
    }
}
















/* ..........FEATURE-CONTACT PAGE.......... */

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-contact {
    display: flex;
    margin: 10%;
    justify-content: center;
    padding: 20px;
    border-radius: 8px;
    max-width: 1200px;
    width: 100%;
    box-sizing: border-box;
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat.svg');
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: 300%;
}

.form-image-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    max-width: 700px; /* Limita el ancho total del contenedor */
}

#form {
    flex: 2; /* El formulario ocupa 2 partes del espacio */
    margin-right: 10px; /* Ajusta el espacio entre el formulario y la imagen */
    max-width: 450px; /* Limita el ancho máximo del formulario */
}

.form-image {
    flex: 1; /* La imagen ocupa 1 parte del espacio */
    max-width: 340px; /* Limita el ancho máximo de la imagen */
    height: auto;
    object-fit: cover; /* Asegura que la imagen se ajuste bien dentro del contenedor */
    opacity: 70%;
    border-radius: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

.title-h3 {
    margin-left: 20px;
    margin-bottom: 20px;
}

label {
    margin: 0px 0px 0px;
    margin-bottom: 5px;
    margin-left: 2px;
    color: var(--text-secondary-color);
    font-weight: bold;
}

input {
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
}

input.error {
    border-color: rgb(119, 10, 10);
    border-style: dashed;
}

button {
    padding: 10px;
    background-color: var(--button-cta-color);
    color: var(--button-secondary-color);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    color: var(--main-bg-color);
    background-color: var(--button-secondary-color);
}

.error-message {
    color: var(--button-secondary-color);
    margin-top: 0;
    margin-bottom: 10px;
    font-size:small;
}

.instrument-options {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: left;
    padding: 10px;
    margin-top: 8px;
    gap: 10px;
}

.instrument-options div {
    display: flex;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: center;
}

input::placeholder {
    color: #999;
    font-family: var(--text-paragraph);
}

/* FOOTER */
footer {
    max-width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--text-primary-color);
    height: 300px;
    padding: 20px;
    font-size: var(--text-size-s);
    color: var(--main-bg-color);
}

footer div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 90%;
    max-width: 100%;
}

.footerLogo img {
    width: 80%;
    height: 100%;
}

footer ul p {
    font-weight: bold;
}

footer li {
    list-style: none;
    font-size: var(--text-size-xs);
}

footer a {
    text-decoration-line: none;
    color: var(--main-bg-color);
}

footer li:hover {
    text-decoration-line: underline;
}

/* Media Queries */
@media (max-width: 600px) {
    .instrument-options {
        grid-template-columns: 1fr;
    }
}

/* Responsive adjustments */
@media (768px <= width < 950px) {
    .heroText__bigText {
        font-size: var(--text-size-xl);
    }
}

@media screen and (max-width: 768px) {

    /*START NAVBAR CONFIGURATION*/
    header {
        display: flex;
        justify-content: space-between;
    }

    .logo{
        max-width: 70%;
    }

    .nav{
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        position: absolute;
        top: 16px;
        right: 0;
        padding-left: 1rem;
    }

    .nav.visible{
        opacity: 1;
        visibility: visible;
    }

    .menu {
        flex-direction: column;
        margin-top: 36px;
        background-color:transparent;
    }

    .menu img{
        display: none;
    }

    .pentagram{
        display: none;
    }

    #noteAbout, #noteInstruments, #noteScores, #noteContact {
        flex-direction:column;
        right: auto;
        top: auto;
        position: static;
        align-items: end;
        padding-right: 40px;
    }

    .open-menu,
    .close-menu{
        display:flex;
        border: 0;
        top: 0;
        font-size: 2.5rem;
        background-color: transparent;
        max-width: 80px;
        cursor: pointer;
        margin-right: 30px;
    }

    button#Cerrar {
        padding-left: 10px;
        margin-top: 8px;
        margin-right: 38px;
    }
    
    /*END NAVBAR CONFIGURATION*/

    /*START HOME CONFIGURATION*/
    .scrollingContainer {
        height: 100px;
    }

    .scrollingText {
        font-size: var(--text-size-l);
    }

    .heroText {
        font-size: var(--text-size-s);
    }

    .heroText__bigText {
        font-size: var(--text-size-l);
    }

    .cards {
        height: 350px;
        width: auto;
    }

    .cardIntro {
    height: 250px;
    }

    .titleInstruments {
        font-size: var(--text-size-m);
    }

    .cardInstruments {
        height: 150px;
        width: 150px;
        margin-bottom: 10px;
    }

    .instrumentName {
        font-size: var(--text-size-s);
    }

    /*END HOME CONFIGURATION*/

    /*START CONTACT CONFIGURATION*/

    .form-image {
        margin-top: 10px;
        max-width: 82%; /* Permite que la imagen ocupe el ancho total del contenedor en pantallas pequeñas */
    }

    .form-image-container {
        flex-direction: column;
        align-items: center;
    }

    #form {
        max-width: 100%; /* Permite que el formulario ocupe el ancho total del contenedor en pantallas pequeñas */
    }
    /*END CONTACT CONFIGURATION*/

    /*FOOTER CONFIGURATION*/
    footer {
        font-size: var(--text-size-xs);
    }
}
